# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split as tts

## Regression Model Evaluation

In [7]:
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [8]:
data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MEDV
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [9]:


X_train, X_test, y_train, y_test  = tts(X, y, train_size=0.8, test_size=0.2, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((16512, 8), (4128, 8), (16512, 1), (4128, 1))

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [6]:
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.metrics import mean_squared_error as mse
linreg=LinReg()
linreg.fit(X_train, y_train)
y_pred = linreg.predict(X_test)
y_train_pred = linreg.predict(X_train)

## 3. Calculate and print R-squared for both the training and the testing set.

In [8]:
from sklearn.metrics import r2_score as r2

r2(y_test, y_pred), r2(y_train, y_train_pred)

## 4. Calculate and print mean squared error for both the training and the testing set.

In [15]:
mse(y_test, y_pred, squared=False) , mse(y_train, y_train_pred, squared=False)

(0.745581383012776, 0.7196757085831575)

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [9]:
from sklearn.metrics import mean_absolute_error as mae  

mae(y_test, y_pred) , mae(y_train, y_train_pred)

## Classification Model Evaluation

In [10]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [11]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [12]:
X_train, X_test, y_train, y_test  = tts(X, y, train_size=0.8, test_size=0.2, random_state=42)

In [13]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((120, 4), (30, 4), (120, 1), (30, 1))

In [14]:
X_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
22                 4.6               3.6                1.0               0.2
15                 5.7               4.4                1.5               0.4
65                 6.7               3.1                4.4               1.4
11                 4.8               3.4                1.6               0.2
42                 4.4               3.2                1.3               0.2
..                 ...               ...                ...               ...
71                 6.1               2.8                4.0               1.3
106                4.9               2.5                4.5               1.7
14                 5.8               4.0                1.2               0.2
92                 5.8               2.6                4.0               1.2
102                7.1               3.0                5.9               2.1

[120 rows x 4 columns]

In [15]:
y_train

     class
22       0
15       0
65       1
11       0
42       0
..     ...
71       1
106      2
14       0
92       1
102      2

[120 rows x 1 columns]

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [18]:
from sklearn.linear_model import LogisticRegression as LogReg

logreg=LogReg()

logreg.fit(X_train, y_train)

y_pred_logreg=logreg.predict(X_test)
y_prob=logreg.predict_proba(X_test)
y_train_pred_logreg=logreg.predict(X_train)
y_train_prob=logreg.predict_proba(X_train)

c:\Users\jorge\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\jorge\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [19]:
from sklearn.metrics import accuracy_score as acc

acc(y_test, y_pred_logreg), acc(y_train, y_train_pred_logreg)

(1.0, 0.975)

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

## 10. Calculate and print the precision score for both the training and the testing set.

In [22]:
from sklearn.metrics import precision_score as prec

prec(y_test, y_pred_logreg,average= 'macro'), prec(y_train, y_train_pred_logreg,average= 'macro')

(1.0, 0.9761904761904763)

## 11. Calculate and print the recall score for both the training and the testing set.

In [24]:
from sklearn.metrics import recall_score as rec

rec(y_test, y_pred_logreg,average= 'macro') , rec(y_train, y_train_pred_logreg,average= 'macro')

(1.0, 0.975609756097561)

## 12. Calculate and print the F1 score for both the training and the testing set.

In [26]:
from sklearn.metrics import f1_score as f1

f1(y_test, y_pred_logreg,average= 'macro') , f1(y_train, y_train_pred_logreg,average= 'macro')

(1.0, 0.9749960931395533)

## 13. Generate confusion matrices for both the training and the testing set.

In [27]:
from sklearn.metrics import confusion_matrix as cm

cm(y_test, y_pred_logreg) , cm(y_train, y_train_pred_logreg)

(array([[10,  0,  0],
        [ 0,  9,  0],
        [ 0,  0, 11]], dtype=int64),
 array([[40,  0,  0],
        [ 0, 38,  3],
        [ 0,  0, 39]], dtype=int64))

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.