# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

# Read the data

## Regression Model Evaluation

In [10]:
from sklearn.datasets import fetch_california_housing

data = fetch_california_housing()
X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [11]:
data

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MEDV
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [14]:
# train a linear regression model  
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [22]:
y_test

          MEDV
20046  0.47700
3024   0.45800
15663  5.00001
20484  2.18600
9814   2.78000
...        ...
15362  2.63300
16623  2.66800
18086  5.00001
2144   0.72300
3665   1.51500

[4128 rows x 1 columns]

In [17]:
#predict the test set
y_pred_test = lr.predict(X_test)
y_pred_train = lr.predict(X_train)

In [19]:
y_pred_test

array([[0.71912284],
       [1.76401657],
       [2.70965883],
       ...,
       [4.46877017],
       [1.18751119],
       [2.00940251]])

In [21]:
y_pred_train

array([[1.93725845],
       [2.48910616],
       [2.64735483],
       ...,
       [2.03879912],
       [2.84075139],
       [2.27373156]])

## 3. Calculate and print R-squared for both the training and the testing set.

In [25]:
# calculate the MSE and R2 for the test set
r2_test = r2_score(y_test, y_pred_test)
r2_train = r2_score(y_train, y_pred_train)

In [26]:
r2_test, r2_train

(0.5757877060324508, 0.6125511913966952)

## 4. Calculate and print mean squared error for both the training and the testing set.

In [27]:
mse_test = mean_squared_error(y_test, y_pred_test)
mse_train = mean_squared_error(y_train, y_pred_train)

In [28]:
mse_test, mse_train

(0.5558915986952444, 0.5179331255246697)

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [30]:
# mean absolute error
from sklearn.metrics import mean_absolute_error
#create a function to calculate the MAE
def mae(y_true, y_pred):
    return np.mean(np.abs(y_pred - y_true))

In [31]:
mae_test = mae(y_test, y_pred_test)
mae_train = mae(y_train, y_pred_train)

/Users/aminalsabagh/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [33]:
mae_test, mae_train

(MEDV    0.5332
 dtype: float64,
 MEDV    0.528628
 dtype: float64)

## Classification Model Evaluation

In [34]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [37]:
# train a logistic regression model
lr = LogisticRegression()
lr.fit(X_train, y_train)

/Users/aminalsabagh/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/aminalsabagh/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [40]:
y_pred= lr.predict(X_test)
y_pred_train = lr.predict(X_train)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [41]:
accuracy_test = lr.score(X_test, y_test)
accuracy_train = lr.score(X_train, y_train)

In [42]:
accuracy_test, accuracy_train

(1.0, 0.975)

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [43]:
#balanced accuracy
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_test = balanced_accuracy_score(y_test, y_pred)
balanced_accuracy_train = balanced_accuracy_score(y_train, y_pred_train)

In [44]:
balanced_accuracy_test, balanced_accuracy_train

(1.0, 0.975609756097561)

## 10. Calculate and print the precision score for both the training and the testing set.

In [45]:
#precision
from sklearn.metrics import precision_score
precision_test = precision_score(y_test, y_pred, average='macro')
precision_train = precision_score(y_train, y_pred_train, average='macro')

In [46]:
precision_test, precision_train

(1.0, 0.9761904761904763)

## 11. Calculate and print the recall score for both the training and the testing set.

In [47]:
#recall
from sklearn.metrics import recall_score
recall_test = recall_score(y_test, y_pred, average='macro')
recall_train = recall_score(y_train, y_pred_train, average='macro')

In [48]:
recall_test, recall_train

(1.0, 0.975609756097561)

## 12. Calculate and print the F1 score for both the training and the testing set.

In [49]:
#f1 score
from sklearn.metrics import f1_score
f1_test = f1_score(y_test, y_pred, average='macro')
f1_train = f1_score(y_train, y_pred_train, average='macro')

In [50]:
f1_test, f1_train

(1.0, 0.9749960931395533)

## 13. Generate confusion matrices for both the training and the testing set.

In [55]:
confusion_matrix = pd.crosstab(y_test['class'], y_pred, rownames=['Actual'], colnames=['Predicted'])
confusion_matrix_train = pd.crosstab(y_train['class'], y_pred_train, rownames=['Actual'], colnames=['Predicted'])
confusion_matrix_train

Predicted   0   1   2
Actual
0          40   0   0
1           0  38   3
2           0   0  39

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.

In [57]:
#use other regression models
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

# train a decision tree model
dt = DecisionTreeRegressor()
tree = dt.fit(X_train, y_train)

# train a random forest model
rf = RandomForestRegressor()
forest = rf.fit(X_train, y_train)

/var/folders/47/wzq7k7vn6vd_yq54t9gh0q8w0000gn/T/ipykernel_23273/1934788056.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  forest = rf.fit(X_train, y_train)

In [59]:
y_pred_tree = tree.predict(X_test)
y_pred_forest = forest.predict(X_test)

In [60]:
y_pred_tree_train = tree.predict(X_train)
y_pred_forest_train = forest.predict(X_train)

In [61]:
# calculate the MSE and R2 for the test set
r2_test_tree = r2_score(y_test, y_pred_tree)
r2_train_tree = r2_score(y_train, y_pred_tree_train)
r2_test_forest = r2_score(y_test, y_pred_forest)
r2_train_forest = r2_score(y_train, y_pred_forest_train)

In [62]:
r2_test_tree, r2_train_tree, r2_test_forest, r2_train_forest

(1.0, 1.0, 0.9985786963434022, 0.9903673383268278)

In [70]:
accuracy_test_tree = tree.score(X_test, y_test)
accuracy_train_tree = tree.score(X_train, y_train)
accuracy_test_forest = forest.score(X_test, y_test)
accuracy_train_forest = forest.score(X_train, y_train)

In [71]:
accuracy_test_tree, accuracy_train_tree, accuracy_test_forest, accuracy_train_forest

(1.0, 1.0, 0.9985786963434022, 0.9903673383268278)

In [63]:
#use other classification models
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [66]:
treeclass = DecisionTreeClassifier()
treeclass.fit(X_train, y_train)
forestclass = RandomForestClassifier()
forestclass.fit(X_train, y_train)

/var/folders/47/wzq7k7vn6vd_yq54t9gh0q8w0000gn/T/ipykernel_23273/5205436.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  forestclass.fit(X_train, y_train)

RandomForestClassifier()

In [69]:
y_pred_treeclass = treeclass.predict(X_test)
y_pred_forestclass = forestclass.predict(X_test)
y_pred_tree_class_train = treeclass.predict(X_train)
y_pred_forest_class_train = forestclass.predict(X_train)

In [72]:
# calculate the accuracy for the test set
accuracy_test_treeclass = treeclass.score(X_test, y_test)
accuracy_test_forestclass = forestclass.score(X_test, y_test)
accuracy_test_treeclass_train = treeclass.score(X_train, y_train)
accuracy_test_forestclass_train = forestclass.score(X_train, y_train)

In [73]:
accuracy_test_treeclass, accuracy_test_forestclass, accuracy_test_treeclass_train, accuracy_test_forestclass_train

(1.0, 1.0, 1.0, 1.0)

In [75]:
#compare the models
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_treeclass))
print(classification_report(y_test, y_pred_forestclass))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      1.00      1.00         9
           2       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      1.00      1.00         9
           2       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [76]:
#compare the models regression vs classification
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      1.00      1.00         9
           2       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30